@font-face {
  font-family: "glyphicons";
  src: url("fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), 
  url("fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), 
  url("fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), 
  url("fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), 
  url("fonts/bootstrap/glyphicons-halflings-regular.svg") format("svg");
}

.navbar {
  --bs-navbar-padding-y: -0.5rem !important;
}

#navbarSupportedContent {
  flex: inherit;

}
.navbar-toggler{
  float: right;
}
.cancelNot1 h2{
  text-shadow: 1px 1px 1px #000;
}

.navbar-collapse {
  margin-right: 70px;
}

#secondNav {
  background-color: #337AB7;
  height: 39px;
}

#drip {
  float: left;
  background-color: #337AB7;
  border-right: 1px solid #ddd;
}

#drip .btn {
  font-size: 11px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

#secondNav a:hover,
.dropdown:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  margin: 0px;}



#dripmenu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

#dripmenu a {
  float: none;
  color: black;
  padding: 12px 16px;
  font-size: 11px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#dripmenu a:hover {
  background-color: #ddd;

}

#drip:hover #dripmenu {
  display: block;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 50px;
}

#customerSub {
  top: 10px;
}

#agentsub {
  top: 0px;
}

#accountsub {
  top: 68px;
}

#mappingsub {
  top: 80px;
}

#mappinggsub {
  top: 118px;
}

#exchangesub {
  top: 158px;
}

#trxsub {
  top: 200px;
  ;
}

#suppsub {
  top: 240px;
  ;
}

#marksub {
  top: 320px;
  ;
}

#mealsub {
  top: 290px;
}

#marketsub {
  top: 370px;
  ;
}

#paysub {
  top: 400px;
  ;
}

#banksub {
  top: 480px;
  ;
}

#cursub {
  top: 530px;
  ;
}

#taxsub {
  top: 570px;
  ;
}

#loyaltysub {
  top: 610px;
  ;
}

#vehiclesub {
  top: 740px;
  ;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
  display: block;
}


header {

  color:grey ;
  font-weight: 400;
  padding: 7px 4px;
  transition: all .3s;
  border: 1px solid transparent;
  background-color: #edf0f5!important;
}

.cancelNot1 {
  background: #FFA0A0;
  padding: 10px;
}



thead {
  background-color: #337AB7;
  font-size: 11px;
  color: #f9f9f9;
}

th {
  font-size: 10px;
  text-align: center !important;
}

td {
  font-size: 10px;
  text-align: center !important;
  color: #6A6C6F;
}

.dateWrapper {
  text-align: center;
  margin: 0px auto;
  width: 32px;
}

.dateWrapper .onlyDate {
  background-color: #fff;
  border-radius: 5px 5px 0px 0px;
  font-size: 13pt;
  padding: 0px;
  border: 1px solid #bcb9b9;
  font-weight: 600;
}

.dateWrapper .monthYear {
  background-color: rgb(160, 157, 157);
  border-radius: 0px 0px 5px 5px;
  color: #fff;
  font-size: 6.5pt;
  padding: 1px 5px;
  line-height: 11px;
}

.table.dataTable span.label {
  text-transform: capitalize;
}

.td_label {
  display: inline-block;
  padding: 5px;
  font-size: 10px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  margin-top: 15px;
}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  font-size: 12px;
}
.label-success {
  background-color: #62cb31;
}

.label-default {
  background-color: #777;
}

.iconCont {
  width: 59px;
  margin: 0px auto;
}

.label-danger {
  background-color: #d9534f;
}

.label-warning {
  background-color: #f0ad4e;
}

.table.dataTable tr td:last-child,
.table.dataTable tr th:last-child {
  border-right: 0px solid #ddd !important;
}

.table.dataTable .input-group-addon,
.modalForm .input-group-addon {
  padding: 0px !important;
  width: 29px !important;
  height: 29px;
  float: left;
  border: 1px solid #e4e5e7 !important;
  background: #f7f8fa;
  border-color: #e4e5e7 !important;
  font-size: 14px;
  font-weight: normal;
  line-height: 2;
  color: #555;
  text-align: center;
}

.table.dataTable .input-group-addon:hover,
.modalForm .input-group-addon:hover {
  background-color: #CCC;
  border: 1px solid rgb(160, 157, 157) !important;
  cursor: pointer;
}

.table.dataTable .actionlink {
  white-space: nowrap;
}

.table.dataTable .actionlink .actionCont {
  width: 87px;
  margin: 0px auto;
  text-align: center;
}

.table>thead>tr>td {
  color: white;
}

.input-group-addon {
  width: auto !important;
  padding: 5px !important;
  width: 36px !important;
  height: 31px;
  border: 1px solid #e4e5e7 !important;
  cursor: pointer!important;
}

.input-group-addon {
  background: #f7f8fa;
  /* border-color: #e4e5e7 !important; */
}

.table>tbody>tr>td {
  font-size: 9pt !important;
  text-transform: uppercase !important;
  vertical-align: middle !important;
  font-weight: normal !important;

}

.width_table {
  width: 183px !important;
  position: relative;
  display: inline-block;
}

.width_table {
  width: 150px !important;
}

.contLeft {

  overflow: hidden;
  width: 146px;
  float: left;
}

.plusIco a {
  top: 34px;
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  background: #337AB7;
  color: #fff !important;
  font-size: 11px;
  margin-left: 5px;
  cursor: pointer;
}

.fa-stack {
  display: inline;
}

.input-group-addon a {
  color: #555;
}

.fa:hover {
  color: #555 !important;
}


.input-daterange .input-group-addon {
  width: auto;
  min-width: 16px;
  padding: 4px 10px;
  font-weight: 400;
  line-height: 1.428571;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  vertical-align: middle;
  background-color: #eee;
  border: solid #ccc;
  border-width: 1px 0;
  margin-left: -5px;
  margin-right: -5px;
  cursor: pointer;
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}

.input-daterange span.input-group-addon,
.input-group span.input-group-addon {
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  cursor: pointer;
}

.countSect {
  padding-right: 10px;
  padding-left: 23px;
}

.notifText h6 {
  line-height: 20px;
  color: #000;
}

input[type="file"] {
  display: block !important;
  position: absolute;
  top: 0px;
  right: 0;
  opacity: 0;
  font-size: 100px;
  filter: alpha(opacity=0);
  cursor: pointer;
  width: 27px !important;
  left: 0px;
  height: 27px;
}

.input-group span * {
  text-transform: none;
}

.uniqFile {
  cursor: pointer !important;
  position: relative;
  display: table;
  border-collapse: separate;
}

.input-group .input-group-addon {
  cursor: pointer !important;
}

.input-group-addon:last-child {
  border-left: 0;
}

#tickschecks {
  display: flex;
  font-size: 14px;
}

#tickscheck {
  margin-left: 23px;
}

#tickspc {
  margin-left: 10px;
}

.text-danger {
  color: #e74c3c;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}



.checkbox-success input:checked {
  /* Hide the default checkbox appearance */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Add your desired styles here */

  background-color: #62cb31;

  border-color: #62cb31
    /* Add padding and size styles as needed */
    padding: 2px;
  width: 18px;
  height: 18px;
  position: relative;
}

.checkbox-success input:checked::before {
  content: '\2713';
  display: inline-block;
  position: absolute;
  top: -3px;
  left: 3px;
  color: white;
}

.boxview {
  text-align: center;
  text-decoration: none;
  color: #fff;
  height: 39px;
  width: auto;
  font-size: 10.2px;
  display: block;
  line-height: 40px;
  margin: 0px 10px 0px 10px;
}
.form-group label{
font-size: 12px;
font-weight: 600;
color:grey;
}
.col-md-3{
  font-size: 12px;
  font-weight: 600;
color:grey;
}
.col-md-2,.col-md-4,.col-md-5 span{
  font-size: 12px;
}
.btn-dark {
  background-color: #34495e !important;
  border-color: #34495e !important;
  color: #FFFFFF;
}

.bootstrap-select.form-control-sm .dropdown-toggle {
  background:transparent;
  border: 0.1px solid rgb(214, 207, 207)!important;
}


.btn-dark:hover {
  background-color: #3f5872 !important;
  border-color: #3f5872 !important;
  color: #FFFFFF;
}

.form-control.required {
  border-left: 2px solid red !important;
  border-radius: 0px 4px 4px 0px;
}
.bs-placeholder{
  background: transparent;
}

#tree1 {
  margin: 0px;
  padding: 0px;
}

.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
}

.dd-list {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dd-item {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 14 px;
  line-height: 20px;
}

.dd-list .dd-list {
  padding-left: 30px;
}

.dd-item>button {
  display: none;
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 25px;
  margin: 5px 0;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
}

.dd-handle {
  display: block;
  margin: 5px 0;
  font-size: 14px;
  padding: 13px 10px;
  color: #333;
  text-decoration: none;
  border: 1px solid #e4e5e7;
  background: #f7f9fa;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.radioline {
  display: flex !important;
}

#app {
  margin-left: 13px;
}

#tax_type_output {
  margin-left: 13px;
}

#supplier_register_no {
  margin-left: 13px;
}

#supplier_register_overseas {
  margin-left: 13px;
}

#consumed_out {
  margin-left: 13px;
}
#create_date{
  margin-left: 13px;
}

.fa-times-circle {
  color: red !important;
}

.fa-check-circle {
  color: green !important;
}

.subUsers {
  position: relative;
}

.supScript {
  font-size: 10px;
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 9px;
  top: -9px;
  z-index: 1;
}

#diline {
  display: inline;
}

.input-group span * {
  text-transform: none;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#totalcolor {
  background-color: #A09D9D !important;
}
.restrictMsg {
  color: #337AB7;
  font-size: 22px;
  font-weight: 500;
  line-height: 35px;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group .btn.btn-xs {
  padding: 2px 7px;
}
.btn-group > .btn:first-child {
  margin-left: 0;
}
.btn-group > .btn, .btn-group-vertical > .btn {
  position: relative;
  float: left;
}
.btn-xs {
  border-radius: 3px!important;
  font-size: 11px!important;
  line-height: 1.5!important;
  padding: 1px 7px!important;
}

.btn-xs:hover{
    padding: 2px 7px !important;
}

.btn-default {
  background-color: #fff!important;
  border-color: #e4e5e7!important;
  color: #6a6c6f!important;
}
.doubleScroll-scroll-wrapper {
  width: auto!important;
  /* height: 0px !important; */
  overflow-x: auto !important;}

  #scrollCont, .scrollCont, .scrollCont1, #scrollCont1 {
    /* overflow-x: auto!important; */
    overflow-x: auto !important;
    border: 1px solid #ccc !important;}

    .nav-tabs {
      border-bottom: 1px solid #e4e5e7;
  }
  @media only screen and (max-width:960px) {
    #firstNav{
      display: none;
    }
    #drip{
    float:none;
    border-bottom: 1px solid #ddd;
}
    #navbarSupportedContent{
      
      padding: 41px 0px;
      position: relative;
      z-index: 1;
    }
    .boxview{
      text-align: left;
    }
    .input-group-addon {
      height: 31px;
    }
    
  }